<!doctype html>
<html lang="en" ng-app="dashboardApp">
<head>
  <meta charset="utf-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="DashboardCtrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2>Bus</h2>
        <ul class="ratp">
          <li ng-repeat="time in busTimes">
            <span>{{time.type}} - {{time.line}} - {{time.stop}} - {{time.direction}}</span>
            <p>{{time.times}}</p>
          </li>
        </ul>
      </div>
      <div class="col-md-12">
        <h2>Tram</h2>
        <ul class="ratp">
          <li ng-repeat="time in tramTimes">
            <span>{{time.type}} - {{time.line}} - {{time.stop}} - {{time.direction}}</span>
            <p>{{time.times}}</p>
          </li>
        </ul>
      </div>
      <div class="col-md-12">
        <h2>Transilien</h2>
        <ul class="sncf">
          <li ng-repeat="time in sncfTimes">
            <span>{{time.num}} - {{time.miss}} - {{time.term}}</span>
            <p>{{time.date}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
